.bg-body {
  background-color: #02b4eb;
  padding-bottom: 35px;
  margin-bottom: -35px;
}

.menu-line {
  margin-bottom: 0px;
}

.scype-line-consultation {
  box-shadow: none;
}

/*----------------------------------------------*/
/*----- start description-types-assistance -----*/
/*----------------------------------------------*/
.price {
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0 1px 29px rgba(34, 30, 31, 0.28);
  padding: 30px;
}
.price p {
  font-family: "MuseoSansCyrl";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #000;
  text-align: center;
  padding: 0px;
}
.price .price-list {
  overflow: hidden;
  box-shadow: 0 1px 29px rgba(34, 30, 31, 0.28);
}
.price .price-list .price-tittle {
  font-family: "MuseoSansCyrl";
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  color: #fff;
  background-color: #a42fde;
  padding: 12px 20px 13px 23px;
  margin-bottom: 19px;
  text-align: center;
  margin: 0px;
  border: none;
  margin-bottom: 19px;
}
.price .price-list .price-tittle:hover {
  background-color: #a42fde;
}
.price .price-list p {
  text-align: left;
  padding: 6px 10px;
  margin: 0 25px 13px 25px;
  background-color: #fdfdfd;
  border: 1px solid #f3f3f3;
}
.price .price-list p a {
  display: block;
  text-decoration: none;
  color: black;
}
.price .price-list p a span {
  float: right;
}
.price .price-list p:last-child {
  margin-bottom: 27px;
}
.price .price-list p:hover {
  background-color: #e0e0e0;
  -webkit-transition: 0.5s;
          transition: 0.5s;
}
.price .price-list p:not(:hover) {
  -webkit-transition: 0.5s;
          transition: 0.5s;
}
.price .left-portrait {
  margin-top: 21px;
}
.price .left-portrait img {
  display: block;
  width: 226px;
  margin: 0 auto 29px;
}
.price .left-portrait .devider {
  width: 90%;
  margin: 0px auto 40px;
}
.price .left-portrait p {
  font-size: 16px;
  line-height: 24px;
  padding: 0 0 23px 0;
  text-align: center;
}
.price .left-portrait a {
  float: none;
  padding: 14px;
}
.price .left-portrait .skype-consult {
  width: 210px;
  margin: 0 auto 18px;
}
.price .left-portrait .know-about-me {
  width: 170px;
  margin: 0 auto;
}
.price .form-pad {
  padding-left: 30px;
}
.price .form-block {
  margin-top: 20px;
  box-shadow: 0 1px 29px rgba(34, 30, 31, 0.28);
  margin-bottom: 15px;
}
.price .form-block .contact-tittle {
  background-color: #a42fde;
  color: #fff;
  padding: 12px 20px 13px 23px;
  margin-bottom: 19px;
  font-size: 24px;
}
.price .form-block input {
  display: block;
  width: 92%;
  height: 35px;
  margin: 0 auto 18px;
  background-color: #fdfdfd;
  border: 1px solid #f3f3f3;
  font-family: "MuseoSansCyrl";
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
  color: #000;
  padding: 5px 12px;
}
.price .form-block textarea {
  display: block;
  background-color: #fdfdfd;
  border: 1px solid #f3f3f3;
  font-family: "MuseoSansCyrl";
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
  color: #000;
  width: 92%;
  height: 100px;
  margin: 0 auto;
  resize: none;
  padding: 5px 12px;
}
.price .form-block input[type="text"]:focus::-webkit-input-placeholder,
.price .form-block input[type="tel"]:focus::-webkit-input-placeholder,
.price .form-block input[type="email"]:focus::-webkit-input-placeholder,
.price .form-block textarea:focus::-webkit-input-placeholder {
  color: transparent;
}
.price .form-block input[type="text"]:focus::-moz-placeholder,
.price .form-block input[type="tel"]:focus::-moz-placeholder,
.price .form-block input[type="email"]:focus::-moz-placeholder,
.price .form-block textarea:focus::-moz-placeholder {
  color: transparent;
}
.price .form-block input[type="text"]:focus:-moz-placeholder,
.price .form-block input[type="tel"]:focus:-moz-placeholder,
.price .form-block input[type="email"]:focus:-moz-placeholder,
.price .form-block textarea:focus:-moz-placeholder {
  color: transparent;
}
.price .form-block input[type="text"]:focus:-ms-input-placeholder,
.price .form-block input[type="email"]:focus:-ms-input-placeholder,
.price .form-block textarea:focus:-ms-input-placeholder {
  color: transparent;
}
.price .form-block .button {
  width: 154px;
  margin-top: 46px;
  margin-left: 25px;
  float: none;
  top: -28px;
}
.price .payment-methods {
  position: relative;
  top: -15px;
}
.price .payment-methods .pp {
  position: relative;
  top: 5px;
  margin-left: 20px;
  margin-top: 20px;
}
.price .payment-methods .rb {
  position: relative;
  top: 16px;
  margin-left: 20px;
}

.price .payment-methods span {
  margin-right: 30px;
}

.price .payment-methods span,
.price .payment-methods i {
  padding-top: 25px;
  display: inline-block;
}

/*--------------------------------------------*/
/*----- end description-types-assistance -----*/
/*--------------------------------------------*/

/*# sourceMappingURL=consultation.css.map */