.menu-line {
  margin-bottom: 35px;
}

/*------------------------------*/
/*----- start left-sidebar -----*/
/*------------------------------*/
.left-sidebar ul li a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "MuseoSansCyrl";
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  color: #594f86;
  padding-top: 12px;
  padding-bottom: 12px;
  border-radius: 5px;
}
.left-sidebar ul li a svg {
  display: inline-block;
  width: 30px;
  height: auto;
  margin-left: 22px;
  margin-right: 25px;
}
.left-sidebar ul li a span {
  display: inline-block;
  width: 225px;
  padding-right: 5px;
}
.kinds-active {
  background-color: #a42fde !important;
  text-decoration: none !important;
  color: #fff !important;
  font-size: 16px !important;
}
.left-sidebar ul li a:hover {
  background-color: #a42fde;
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  -webkit-transition: 0.5s;
          transition: 0.5s;
}
.left-sidebar ul li a:not(:hover) {
  -webkit-transition: 0.5s;
          transition: 0.5s;
}
.left-sidebar ul li a:hover .st0,
.kinds-active .st0 {
  -webkit-transition: 2s;
          transition: 2s;
  fill: #fff !important;
}
.left-sidebar ul li a:not(:hover) .st0 {
  -webkit-transition: 2s;
          transition: 2s;
}
.left-sidebar .devider {
  margin-top: 15px;
  margin-bottom: 25px;
}

/*----------------------------*/
/*----- end left-sidebar -----*/
/*----------------------------*/
/*----------------------------------------------*/
/*----- start description-types-assistance -----*/
/*----------------------------------------------*/
.description-types-assistance h1 {
  text-align: left;
  padding-bottom: 34px;
}
.description-types-assistance .strong-p {
  font-family: "MuseoSansCyrl";
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
  color: #000;
  padding: 0 0 22px 0;
}
.description-types-assistance p {
  font-family: "MuseoSansCyrl";
  font-size: 18px;
  font-weight: 400;
  line-height: 36px;
  color: #000;
  padding: 0 0 26px 0;
}
.description-types-assistance ul {
  list-style: disc;
}
.description-types-assistance img {
  width: 100%;
  height: auto;
  margin-top: 30px;
}
.description-types-assistance h3 {
  font-family: "MuseoSansCyrl";
  font-size: 18px;
  font-weight: 400;
  line-height: 36px;
  color: #000;
  text-transform: uppercase;
  padding-bottom: 0px;
  padding-top: 28px;
  text-align: left;
}
.description-types-assistance .cursive-p {
  font-family: "MyriadPro-Regular";
  font-size: 18px;
  font-weight: 700;
  line-height: 36px;
  color: #000;
  padding-bottom: 35px;
  font-style: italic;
}
.description-types-assistance .form-block {
  box-shadow: 0 1px 29px rgba(34, 30, 31, 0.28);
}
.description-types-assistance .form-block .contact-tittle {
  font-family: "MuseoSansCyrl";
  font-size: 24px;
  font-weight: 400;
  line-height: 26px;
  color: #fff;
  background-color: #a42fde;
  padding: 12px 20px 13px 23px;
  margin-bottom: 19px;
}
.description-types-assistance .form-block input {
  display: block;
  width: 92%;
  height: 35px;
  margin: 0 auto 18px;
  background-color: #fdfdfd;
  border: 1px solid #f3f3f3;
  font-family: "MuseoSansCyrl";
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
  color: #000;
  padding: 5px 12px;
}
.description-types-assistance .form-block textarea {
  display: block;
  background-color: #fdfdfd;
  border: 1px solid #f3f3f3;
  font-family: "MuseoSansCyrl";
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
  color: #000;
  width: 92%;
  height: 100px;
  margin: 0 auto;
  resize: none;
  padding: 5px 12px;
}
.description-types-assistance .form-block input[type="text"]:focus::-webkit-input-placeholder,
.description-types-assistance .form-block input[type="tel"]:focus::-webkit-input-placeholder,
.description-types-assistance .form-block input[type="email"]:focus::-webkit-input-placeholder,
.description-types-assistance .form-block textarea:focus::-webkit-input-placeholder {
  color: transparent;
}
.description-types-assistance .form-block input[type="text"]:focus::-moz-placeholder,
.description-types-assistance .form-block input[type="tel"]:focus::-moz-placeholder,
.description-types-assistance .form-block input[type="email"]:focus::-moz-placeholder,
.description-types-assistance .form-block textarea:focus::-moz-placeholder {
  color: transparent;
}
.description-types-assistance .form-block input[type="text"]:focus:-moz-placeholder,
.description-types-assistance .form-block input[type="tel"]:focus:-moz-placeholder,
.description-types-assistance .form-block input[type="email"]:focus:-moz-placeholder,
.description-types-assistance .form-block textarea:focus:-moz-placeholder {
  color: transparent;
}
.description-types-assistance .form-block input[type="text"]:focus:-ms-input-placeholder,
.description-types-assistance .form-block input[type="email"]:focus:-ms-input-placeholder,
.description-types-assistance .form-block textarea:focus:-ms-input-placeholder {
  color: transparent;
}
.description-types-assistance .form-block .button {
  width: 154px;
  margin-top: 46px;
  margin-left: 25px;
  float: none;
  top: -28px;
}

/*--------------------------------------------*/
/*----- end description-types-assistance -----*/
/*--------------------------------------------*/

/*# sourceMappingURL=types-psychological-assistance.css.map */



.scype-line-consultation {
  margin-top: -35px;
  margin-bottom: 0px;
}